/*

Add styles or override variables from the theme here.

*/
.td-card-group, .card-group, .td-card-group.card-group {
    font-weight: bold;
    max-width: 100% !important;
}

.card {
    background-color: #c0e0de !important;
    border-radius: 0.375rem;
}

.card-body {
    color: #000 !important;
    text-align: center;
}

.card-header {
    color: #6c757d !important;
}

.pre-footer {
    text-align: center;
}

.breadcrumb ol {
  padding-left: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li:not(:last-child)::after {
  content: "»";
}